@import "ember-paper";
@import "ember-paper-expansion-panel";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 650px;
  margin: 0 auto;
}

.root-box{
  padding-top: 56px;
}

.root-box__title{
  color: rgb(0, 0, 0);
  font-size: 2.125rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.md-close{
  margin-bottom: 16px;
  border-radius: 2px;
}

md-card{
  margin: 16px 0;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.15);
}

.md-list-item-inner {
  md-icon{
    padding: 12px;
  }
}

md-expansion-panel{
  box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.15);
  md-list-item{
    .md-button{
      padding: 0 22px !important;
    }
  }
}

.md-panel-header-root {
  width: 100%;
}

.md-secondary-container{
  padding-right: 20px;
  span.status{
    padding-left: 5px;
  }
} 

.green-dot {
  border-radius: 50%;
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: green;
}

.red-dot {
  border-radius: 50%;
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: red;
}