<div class="root-box">
  <h1 class="root-box__title"><strong>Nodes</strong></h1>
  <div class="layout-column flex-xs">
    {{#each @model as |node|}}
      <Node @name={{node.name}} @url={{node.url}}/>
    {{/each}}
  </div>
</div>
{{outlet}}